.products-resum-list {
    padding: 15px;
    background-color: var(--resum-list-color);
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.products-list {
    font-size: 20px;
    align-self: center;
}

.main-products-list {
    background-color: var(--list-color);
    height: 100vh;
    padding-top: 10px;
}

.products-list-items {
    list-style-type: none;
    list-style-type: none;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
